@import url(https://fonts.googleapis.com/css2?family=Livvic:wght@100;200;300;400;500;600;800;900&display=swap);


body {
  margin: 0;
  padding: 0;
  background: #000;
}

.shadow {
  position: relative;
  padding-top: 25px;
  margin: 120px auto 0;
  width: 600px;
  height: 350px;
  background: black; 
  border-radius: 25px;
}

.shadow::before,
.shadow::after
{
  content: '';
  border-radius: 25px;
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000,#fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: animate 20s linear infinite;
}

.shadow::after {
  filter: blur(30px);
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 300% 0;
  }

  100% {
    background-position: 0 0;
  }
}

h1 {
  margin: 0 0 30px;
  padding: 0;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000,#fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
  font-size: 35px;
  background-size: 400%;
  font-family: 'Livvic';
  text-align: center;
  letter-spacing: 1px;
  font-weight: 600;
  word-spacing: 1px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animat 20s linear infinite;
}

@keyframes animat {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.site-input {
  display: block;
  width: 300px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  outline: none;
  padding: 0 10px;
  font-size: 20px;
  background-color: transparent;
  color: white;
  font-weight: 100;
  letter-spacing: 0.1em;
}
::-webkit-input-placeholder {
  font-style: italic;
  color: #fff;
  font-weight: 100;
  padding: 0 10px;
}

.put-line {
  margin-top: 1px;
  display: block;
  width: 300px;
  height: 3px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000,#fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 400%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  animation: animat 10s linear infinite;
}

.text-box {
  margin-top: 30px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.label-flex {
  display: flex;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-20px);
}

.label-text {
  color: #fff;
}

.ch-label {
  margin-top: 20px;
  display: block;
  position: relative;
  width: 70px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.ch-label input {
  position: relative;
  z-index: 1;
  appearance: none;
}

.ch-label span {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fe0000;
  border-radius: 20px;
  transition: 0.3s;
}

.ch-label input:checked ~ span {
  background: #05be05;
}

.ch-label span i {
  position: absolute;
  top: 2.8px;
  left: 2.8px;
  width: 29.7px;
  height: 29.7px;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

.ch-label input:checked ~ span i {
  left: 36.8px;
}

.ch-label span i::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fe0000;
  box-shadow: 13px 0 0 #fe0000;
  transition: 0.3s;
}

.ch-label input:checked ~ span i::before {
  background: #05be05;
  box-shadow: 14px 0 0 #05be05;
}

.ch-label span i::after {
  content: '';
  position: absolute;
  bottom: 6px;
  left: calc(50% - 6.5px);
  width: 12px;
  height: 4px;
  background: #fe0000;
  border-radius: 6px;
  transition: 0.3s;
}

.ch-label input:checked ~ span i::after {
  background: #05be05;
  left: calc(50% - 6px);
  border-radius: 0;
  bottom: 5px;
  height: 7.5px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.btn {
  cursor: pointer;
  margin-top: 20px;
  display: block;
  width: 150px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  border: none;
  outline: none;
  background: #0077ff;
  color: #fff;
  font-family: 'Livvic';
  transition: 0.3s;
  letter-spacing: 3px;
}

.btn:hover {
  transition: 0.2s;
  transform: scale(1.1);
  background: rgb(0, 255, 255);
  color: blue;
  font-weight: 700;
  letter-spacing: 0.4em;
  box-shadow: 0 0 0px aqua,
              0 0 10px aqua,
              0 0 20px aqua,
              0 0 30px aqua,
              0 0 40px aqua;
  font-size: 15px;
}